<h1>Profile</h1>
<h2> <%= current_user.name %> </h2>
<h2> <%= current_user.username %> </h2>
<h2> <%= current_user.email %> </h2>
<h2> <%= current_user.id %> </h2>

<br>
<%= button_to "Home", activities_path, method: :get %>