<% if user_signed_in? %>
  <h1>Activity</h1>



    <%= @activity.user_id %>

  <%= form_with model: @activity do |form| %>
    Activity Name
    <br>
    <%= form.text_field :name %>
    <br>
    Description
    <br>
    <%= form.text_area :description, size: "60x5" %>
    <br>
    <%= form.submit class: "submit-button"%>
    <%= button_to "Cancel Editing", show_activity_path(@activity.id), method: :get %>

  <% end %>


    <%= button_to "Delete Activity", show_activity_path(@activity.id), method: :delete %>
    <%= button_to "Home", "/", method: :get %>
  <% else %>
    <%= button_to "Log In", new_user_session_path, class: "login-button" %>


<% end %>