<% if user_signed_in? %>
<h1>Activity</h1>


  <%= @activity.name %>
  <%= @activity.description %>
  <%= @activity.user_id %>

<%= button_to "Home", "/", method: :get %>
<% else %>
<%= button_to "Log In", new_user_session_path, class: "login-button" %>


<% end %>