<div class="index-body">
<% if user_signed_in? %>

  <h1>Activities</h1>

  <h2>Activities in the next 30 minutes</h2>

    <% @activities.each do |activity| %>
      <%= link_to activity.id, show_activity_path(activity.id) %>
      <%# <%= activity.description %>
      <%# <%= activity.start_time %>
    <% end %>

  <h2>Activities in the next 1 hour</h2>
  <h2>Activities in the next 2 hours</h2>
  <h2>Activities in the next 4 hours</h2>

  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= button_to "Profile", user_show_path(current_user.id), method: :get %>
  <%= button_to "Create Activity", new_activity_path, method: :get %>
  <% else %>
  <%= button_to "Log In", new_user_session_path, class: "login-button" %>


<% end %>
</div>