<% if user_signed_in? %>
<h1>Activity</h1>

  Activity:
  <%= @activity.name %>
  <br>
    Description:
  <%= @activity.description %>
  <br>
  Activity Date:
  <%= @activity.start_time.strftime("%b %d") %>
  <br>

  Start Time:
  <%= @activity.start_time.strftime("%H:%M") %>
  <br>

  Starts in:
  <%= distance_of_time_in_words(Time.now.strftime("%H:%M"), @activity.start_time.strftime("%H:%M")) %>
  <br>

  Activity ID:
  <%= @activity.id %>
  <br>

  Activity Host:
  <%= User.find(@activity.user_id).name %>
  <br>

  Attendees:
  <% if @activity.attended_by %>
  <%= User.find(@activity.attended_by).name %>
  <% end %>
  <br>
  <% if @activity.attended_by != current_user.id %>
    <%= button_to "don't attend", attend_activity(@activity), method: :patch %>
  <%else%>
  <% @activity.attended_by == current_user.id %>
    <%= button_to "sign up", do_not_attend(@activity), method: :patch %>
  <%end%>

<%= button_to "Home", "/", method: :get %>

<%= button_to "Edit Activity", edit_activity_url(@activity), method: :get %>
<% else %>
<%= button_to "Log In", new_user_session_path, class: "login-button" %>


<% end %>