<% if user_signed_in? %>
<h1>Activity</h1>

  Activity
  <%= @activity.name %>
  <br>
    Description
  <%= @activity.description %>
  <br>
  Activity Date
  <%= @activity.start_time.strftime("%b %d") %>
  <br>

  Start Time
  <%= @activity.start_time.strftime("%H:%M") %>
  <br>
  Current Time
  <%= Time.now.strftime("%H:%M") %>


  <br>
  <%= @activity.id %>
  <br>


<%= button_to "Sign up!", "/", method: :post %>
<%= button_to "Home", "/", method: :get %>

<%= button_to "Edit Activity", edit_activity_url(@activity), method: :get %>
<% else %>
<%= button_to "Log In", new_user_session_path, class: "login-button" %>


<% end %>